body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9e9a75;
}
.text {
    color: #1c222e;
    font-weight: 600;
}

h1, h2 {
    font-size: large;
}

form {
    
    margin: auto;
}
